* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 60%;
}

.app-grid-container {
  display: grid;
  height: 150vh;
  grid-template-rows: auto 1fr auto;
}

.navbar, .main-content, .footer-content{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  justify-content: space-between;
}

.logo {
  grid-column: 1/2;
  width: 200px;
}

.hamburger {
  display: none;
}

.navigation {
  grid-column: 3/ span 12;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.navigation > li > a{
  text-decoration: none;
  font-family: "Markazi Text", "Serif";
  font-weight: 700;
  color: #000000;
}


.main-container {
  grid-column: 1/ span 6;
  margin: 20px;
  background-color: #495e57;
  margin: 0 -500%;
  padding: 0 500% !important;
}

button {
  background-color: #F4CE14;
  height: 60px;
  width: 200px;
  border-radius: 16px;
  border-style: none;
  font-family: "Markazi Text", "Serif";
  font-weight: 700;
  font-size: 18px;
}

.bread {
  grid-column: 7/ span 12;
}

.bread > img {
  width: 200px;
  margin: 30px;
  border-radius: 16px;
  float: right;
}

h1 {
  font-family: "Markazi Text", "Serif";
  font-weight: 500;
  font-size: 64px;
  color: #F4CE14;
}

h4 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 40px;
  font-family: "Markazi Text", "Serif";
}

.main-container > p {
  font-family: "Karla", "sans-serif";
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

.main-container > button {
  margin-top: 70px
}


.highlights {
  background-color: #FFFFFF;
  grid-column: 1/ span 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


h2 {
  font-family: "Karla", "sans-serif";
  font-weight: 800;
  font-size: 40px;
}

.food {
  background-color: #ffffff;
  grid-column: 1/ span 12;
}

.food-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.food-item {
  max-width: 205px;
  background-color: #EDEFEE;
  margin: 0 auto;
}

.food-item > h3, h6, p, h5 {
  padding: 10px;
}

.food-item, img {
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

h3, h6, h5, .cart-icon {
  display: inline-flex;
}

h3 {
  color: #000000;
  font-family: "Karla", "sans-serif";
  font-weight: 700;
  font-size: 18px;
}

h6 + p {
  height: 130px;
}


h6 {
  float: right;
  font-family: "Karla", "sans-serif";
  font-weight: 700;
  font-size: 16px;
  color: #EE9972;
}

.food-item > p {
  font-family: "Karla", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  color:#495e57;
}


.cart-icon {
  width: 16px;
  position: absolute;
  padding-top: 11px;
}

.footer-container {
  grid-column: 1/ span 12;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.footer-container ul{
  list-style-type: none;
}

.footer-container a {
  text-decoration: none;
  color: #000000;
}

.footer-container li {
  margin: 10px 0px;
}

.footer-container > figure {
  width: 100px;
}



@media only screen and (max-width: 768px) {

  body {
    width: 100%;
  }

  .app-grid-container {
    grid-template-rows: auto;
    margin: 0px 10px;
  }

  .navbar {
    display: flex;
  }

  .navigation li {
    display: none;
  }

  .main-container > button {
    margin-bottom: 20px;
  }

  .hamburger {
    display: block;
    max-width: 50px;
    max-height: 50px;
    margin: 20px;
  }

  .food-container {
    display: block;
  }

  .food-item {
    margin: 20px auto;
    max-width: 100%;
  }
}
