* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}

.app-grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2;
  max-height: 76px;
}

.logo {
  max-width: 202px;
  max-height: 80px;
  margin-right: 50px;
}

.hamburger {
  display: none;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navigation > li {
  margin-right: 50px;
}

.navigation > li > a{
  text-decoration: none;
  font-family: "Markazi Text", "Serif";
  font-weight: 700;
  color: #000000;
}

.main-content {
  background-color: #495e57;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: #495e57;
  margin: auto 20%;
}

.main-item {
  padding: 10px;
}

.header {
  grid-column: 1 / span 2;
}

.content {
  grid-column: 1 / span 1;
}

.image > img {
  position: absolute;
  width: 175px;
  max-height: 175px;
  top: 11%;
  margin-left: 30px;
  grid-column: 2 / span 1;
  border-radius: 16px;
  object-position: 30%;
}

.header > h1 {
  font-family: "Markazi Text", "Serif";
  font-weight: 500;
  font-size: 64px;
  color: #F4CE14;
}

.header > h4 {
  color: #FFFFFF;
  font-weight: 400px;
  font-size: 40px;
  font-family: "Markazi Text", "Serif";
}

.main-item > p {
  font-family: "Karla", "sans-serif";
  font-weight: 400px;
  font-size: 20px;
  color: #FFFFFF;
}

button {
  background-color: #F4CE14;
  height: 60px;
  width: 200px;
  border-radius: 16px;
  margin: 50px 5px 5px 0px;
}

























@media only screen and (max-width: 768px) {

  body {
    width: 100%;
  }

  .app-grid-container {
    grid-template-rows: auto;
    margin: 0px 10px;
  }

  .navigation li {
    display: none;
  }

  .hamburger {
    display: block;
    max-width: 50px;
    max-height: 50px;
  }
}